/wandb
/yolo_*
/result_*
/diff_*
/debug_*
/submission_*
/wandb
/__pycache__
/fonts
/2stage_result_20250918_130256_411_diff
/2stage_result_20250918_130256
/2stage_result_20250918_130256_1_diff
/df_drug.csv
/output_data_resnet101.csv
/output_data_resnet101.xlsx
